.header {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: $primary-color;
  text-align: center;
  text-transform: uppercase;

  &__title {
    display: inline-block;
    color: #fff;
    margin: 20px auto;
    font-weight: bold;
  }
}

